<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Schedule App with Map</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a id="navLogin">Login</a></li>
            <li><a id="navSchedule">Schedule</a></li>
            <li><a id="navMainContent">Map</a></li>
        </ul>
    </nav>

    <!-- Login Section -->
    <form id="loginForm" method="post" action="/login">
        <h2>Login</h2>
        <p>username
            <input type="text" id="loginUsername" name="username">
        </p>

        <p>password
            <input type="password" id="loginPassword" name="password">
        </p>
        <button type="submit">Login</button>
    </form>
    <!-- <p> First stop: <span id = "test"> </span> </p> -->

    <!-- Registration Section -->
    <form id="registrationForm" method="post" action="/register">
        <h2>Register</h2>
        <p>username
            <input type="text" id="registerUsername" name="username"></p>
        <p>email 
            <input type="email" id="registerEmail" name="email"></p>
        <p>password
            <input type="password" id="registerPassword" name="password"></p>
        <button type="submit">Register</button>
    </form>
    
    <!-- Main Content Section -->
    <div id="mainContent" style="display:none;">
        <h1>Bus Schedule App with Map</h1>
        
        <div id="map"></div>
        <div id="loadingBarContainer">
            <div id="loadingBar"></div>
        </div>

        <button id="resetMapButton">Reset Map</button>
        
        <form id="addressForm">
            <input type="text" id="address" placeholder="Enter address" required>
            <button type="submit">Find Stops</button>
        </form>

    </div>

    <!-- shedule page content -->
    <div id="schedulePage" style="display:none;">
        <h2>Bus Schedule</h2>
        <div id="busSchedule">
            <!-- Example Bus Schedule Content -->
            <p>Route 101 - Main Street</p>
            <ul>
                <li>08:00 AM - Bus Stop A</li>
                <li>08:15 AM - Bus Stop B</li>
                <li>08:30 AM - Bus Stop C</li>
                <!-- Add more schedule items as needed -->
            </ul>
        </div>
    
        <h2>Comments</h2>
        <div id="commentsSection">
            <textarea id="commentBox" placeholder="Leave a comment"></textarea>
            <button id="submitComment">Post Comment</button>
            <div id="commentsDisplay">
                <!-- Comments will be displayed here -->
                <p><strong>User1:</strong> Great service on Route 101!</p>
                <p><strong>User2:</strong> Bus was late today at Stop B.</p>
                <!-- Add more comments as examples or from user input -->
            </div>
        </div>
    </div>

    <!-- Navigation Buttons -->
    <button id="showMainContentBtn" style="display:none;">Show Main Content</button>
    <button id="showSchedulePageBtn" style="display:none;">Show Schedule Page</button>



    <script>
        // Custom map styles to hide default bus stops
        const mapStyles = [
            {
                // featureType: "transit.station.bus",
                // stylers: [{ visibility: "off" }]
                featureType: "transit",
                stylers: [{ visibility: "off" }]
            }
        ];

        let map;
        let allRoutesData = []; // Array to store all routes data
        let allBusStopsData = []; // Array to store all bus stops data
        let shapes = [];
        let closeByStops = [];
        let closeByRoutes = [];
        let isLoggedIn = false; // Flag to track login status


        // clear the current routes and bus stops in the maps
        function clearMap() {
            // Clear all markers
            for (let marker of allBusStopsData) {
                marker.setMap(null);
            }

            allBusStopsData = []; // Reset the array

            // Clear all shapes
            for (let shape of shapes) {
                shape.setMap(null);
            }

            shapes = []; // Reset the shapes array
        }

        function redrawStoredData() {
            // Redraw all routes using stored data
            allRoutesData.forEach(shape => {
                drawShapeOnMap(shape.points, shape.shape_id);
            });
        }

        document.getElementById('resetMapButton').addEventListener('click', function() {
            clearMap();
            redrawStoredData();
        });
        
        
        // mark the bus stops in the maps
        function placeMarkers(busStops) {
            const infoWindow = new google.maps.InfoWindow();

            for (let stop of busStops) {
                const marker = new google.maps.Marker({
                    position: { lat: parseFloat(stop.stop_lat), lng: parseFloat(stop.stop_lon) },
                    map: map,
                    title: stop.stop_name
                });
                allBusStopsData.push(marker);
                
                marker.addListener('click', function() {
                    infoWindow.setContent(`<h3>${stop.stop_name}</h3>`);
                    infoWindow.open(map, marker);
                });
            }
            
            // Add listener to the map to close the info window when the map is clicked
            map.addListener('click', function() {
                if (infoWindow) {
                    infoWindow.close();
                }
            });
        }

        function fetchBusStopsForRoute(routeId) {
            updateLoadingBar(80); // Before fetching bus stops

            fetch(`/get_bus_stops_by_route?route_id=${routeId}`)
                .then(response => response.json())
                .then(busStops => {
                    placeMarkers(busStops);
                    updateLoadingBar(90); // Update to 90% after fetching bus stops
                })
                .catch(error => console.error('Error fetching bus stops:', error));
        }

        // Fetch route shapes and bus stops data for the input shape ID
        // clear the current routes and bus stops in the maps
        // then draw the new routes and bus stops fetched

        function fetchAndStoreData() {
            updateLoadingBar(30); // Indicate progress

            fetch('/get_route_shapes')
                .then(response => response.json())
                .then(data => {
                    allRoutesData = data;
                    updateLoadingBar(60); // Update to 60% after fetching route shapes
                    data.forEach(shape => drawShapeOnMap(shape.points, shape.shape_id));
                })
                .catch(error => console.error('Error:', error))
                .finally(() => {
                    updateLoadingBar(70); // Update further after processing data
                });
        }

        // given the shape points and shape id, draw the shape(route of a bus/trip) on the map
        function drawShapeOnMap(shapePoints, shapeId) {
            const shapeCoordinates = shapePoints.map(point => ({ lat: point.lat, lng: point.lng }));

            const shapePath = new google.maps.Polyline({
                path: shapeCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            shapes.push(shapePath); // Store the shape in the array

            // if (shapes.length < 1) {
            //     shapes.push(shapePath); // Store the shape
            // }

            shapePath.shapeId = shapeId; // Assign the shape ID

            // Add click listener to the shape
            shapePath.addListener('click', function() {
                fetchRouteAndStops(this.shapeId);
            });

            shapePath.setMap(map);
        }

        function fetchRouteAndStops(shapeId) {
            fetch(`/get_route_and_stops?shape_id=${shapeId}`)
                .then(response => response.json())
                .then(data => {
                    clearMap(); // You might need to create this function to clear existing routes and stops
                    drawShapeOnMap(data.shape, data.route_id);
                    placeMarkers(data.stops);
                })
                .catch(error => console.error('Error:', error));
        }


        function initMap() {
            // Start with the loading bar
            updateLoadingBar(10); // Start with 10% to indicate initiation

            const saoPaulo = { lat: -23.550520, lng: -46.633308 };
            map = new google.maps.Map(document.getElementById("map"), {
                center: saoPaulo,
                zoom: 13,
                styles: mapStyles
            });

            // Simulate loading data, then hide the loading bar
            fetchAndStoreData();

            onMapAndDataFullyLoaded();
        }

        function onMapAndDataFullyLoaded() {
            updateLoadingBar(100); // Indicate completion
            setTimeout(() => { hideLoadingBar(); }, 500); // Hide after a short delay
        }


        // Functions to control the loading bar
        function updateLoadingBar(percentage) {
            document.getElementById('loadingBar').style.width = percentage + '%';
        }

        function hideLoadingBar() {
            document.getElementById('loadingBarContainer').style.display = 'none';
        }

        
        document.getElementById('resetMapButton').addEventListener('click', function() {
            clearMap(); // Clear the current map data
            redrawStoredData(); // Redraw using stored data
        });


        document.getElementById('addressForm').addEventListener('submit', function(event) {
            event.preventDefault(); // to prevent the form from submitting traditionally
            const address = document.getElementById('address').value;
            fetch('/get_bus_stops', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ address: address }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } 
                else {
                    // closeByStops: 'id', 'name', 'coor'
                    closeByStops = data.stopInfo;
                    // closeByRoutes: 'id', 'name'
                    closeByRoutes = data.routeInfo;
                    // document.getElementById('test').textContent = closeByStops.name[0];
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        // Handle Login Form Submission
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const username = document.getElementById('loginUsername').value;
            const password = document.getElementById('loginPassword').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username: username, password: password })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                }
                else {
                    isLoggedIn = true;


                    // go into the main content
                    document.getElementById('mainContent').style.display = 'block';
                    document.getElementById('showSchedulePageBtn').style.display = 'block';
                    // hide the login and registration forms
                    document.getElementById('loginForm').style.display = 'none';
                    document.getElementById('registrationForm').style.display = 'none';

                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("An error occurred");
            });
        });



        document.getElementById('navLogin').addEventListener('click', function() {
            document.getElementById('loginPage').style.display = 'block';
            document.getElementById('schedulePage').style.display = 'none';
            document.getElementById('mainContent').style.display = 'none';
        });

        document.getElementById('navSchedule').addEventListener('click', function() {
            document.getElementById('loginPage').style.display = 'none';
            document.getElementById('schedulePage').style.display = 'block';
            document.getElementById('mainContent').style.display = 'none';
        });

        document.getElementById('navMainContent').addEventListener('click', function() {
            document.getElementById('loginPage').style.display = 'none';
            document.getElementById('schedulePage').style.display = 'none';
            document.getElementById('mainContent').style.display = 'block';
        });

        // Function to handle navigation
        function navigateTo(page) {
            if (page !== 'loginPage' && !isLoggedIn) {
                alert("Please log in first");
                return;
            }

            document.getElementById('loginPage').style.display = (page === 'loginPage') ? 'block' : 'none';
            document.getElementById('schedulePage').style.display = (page === 'schedulePage') ? 'block' : 'none';
            document.getElementById('mainContent').style.display = (page === 'mainContent') ? 'block' : 'none';
        }

        // Event listeners for navigation links
        document.getElementById('navLogin').addEventListener('click', () => navigateTo('loginPage'));
        document.getElementById('navSchedule').addEventListener('click', () => navigateTo('schedulePage'));
        document.getElementById('navMainContent').addEventListener('click', () => navigateTo('mainContent'));
        

        document.getElementById('submitComment').addEventListener('click', function() {
            const comment = document.getElementById('commentBox').value;
            if (comment.trim() === '') {
                alert('Please enter a comment.');
                return;
            }

            // Add the comment to the display (for example purposes)
            // In a real application, you would send this to the server
            const commentsDisplay = document.getElementById('commentsDisplay');
            const newComment = document.createElement('p');
            newComment.innerHTML = `<strong>You:</strong> ${comment}`;
            commentsDisplay.appendChild(newComment);

            // Clear the comment box
            document.getElementById('commentBox').value = '';
        });

        document.getElementById('showSchedulePageBtn').addEventListener('click', function() {
            document.getElementById('schedulePage').style.display = 'block';
            document.getElementById('mainContent').style.display = 'none';
            document.getElementById('showMainContentBtn').style.display = 'block';
            document.getElementById('showSchedulePageBtn').style.display = 'none';
            // Optionally, toggle button visibility if needed
        });

        document.getElementById('showMainContentBtn').addEventListener('click', function() {
            document.getElementById('schedulePage').style.display = 'none';
            document.getElementById('mainContent').style.display = 'block';
            document.getElementById('showMainContentBtn').style.display = 'none';
            document.getElementById('showSchedulePageBtn').style.display = 'block';
            // Optionally, toggle button visibility if needed
        });

        // Handle Registration Form Submission
        document.getElementById('registrationForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const username = document.getElementById('registerUsername').value;
            const email = document.getElementById('registerEmail').value;
            const password = document.getElementById('registerPassword').value;

            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username: username, email: email, password: password })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    alert("Registration successful");
                    // Redirect to another page or update UI
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("An error occurred");
            });
        });

        
        function updateMapWithNewStops(stops) {
            // Clear previous markers if necessary
            // ...

            // Add new markers
            for (let stop of stops) {
                // Your existing code to place markers
            }
        }


    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS-S37L58YssF52HQocELjBEI4s1-NSiM&callback=initMap"></script>

    <!-- <script src="{{ url_for('static', filename='js/data.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}" type="module"></script> -->

</body>
</html>