<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bus Schedule App with Map</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>

        <!-- Navigation Bar -->
        <nav>
            <ul>
                <li><a id="navLogin">Login</a></li>
                <li><a id="navSchedule">Schedule</a></li>
                <li><a id="navMainContent">Map</a></li>
                <li><a id="navComment">Comment</a></li>
            </ul>
        </nav>

        <!-- Login and Registration Section -->
        <div id="loginPage" style="display:block;">
            <!-- Login Section -->
            <form id="loginForm" method="post" action="/login">
                <h2>Login</h2>
                <p>username
                    <input type="text" id="loginUsername" name="username">
                </p>

                <p>password
                    <input type="password" id="loginPassword" name="password">
                </p>
                <button type="submit">Login</button>
            </form>

            <!-- Registration Section -->
            <form id="registrationForm" method="post" action="/register">
                <h2>Register</h2>
                <p>username
                    <input type="text" id="registerUsername" name="username"></p>
                <p>email 
                    <input type="email" id="registerEmail" name="email"></p>
                <p>password
                    <input type="password" id="registerPassword" name="password"></p>
                <button type="submit">Register</button>
            </form>
        </div>
        
        <!-- Main Content Section -->
        <div id="mainContent" style="display:none;">
            <h1>Bus Schedule App with Map</h1>
            
            <div id="map"></div>
            <div id="loadingBarContainer">
                <div id="loadingBar"></div>
            </div>

            <div style="overflow-x:auto;"> 
                <table border="1">

                    <tbody id="close-by-routes"></tbody>
                </table>
            </div>

            <div id="routeSelected" style="display: none;">
                <p style="font-size: 1.1em;font-weight: 550; "> Route ID: </p>
                <p id = rIDSelected> </p>
                <p id="linkToSchedule" style="cursor: pointer; color: blue; text-decoration: underline;"> More information and Schedule</p>
            </div>


            <button id="resetMapButton">Reset Map</button>
            
            <form id="addressForm">
                <input type="text" id="address" placeholder="Enter address" required>
                <button type="submit">Find Stops</button>
            </form>
        </div>

        <style>
            table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                border: 1px solid #ddd;
                font-weight: 100;
            }
            th, td {
                text-align: left;
                padding: 8px;
                font-weight: 100;
            }
        </style>

        <!-- shedule page content -->
        <div id="schedulePage" style="display:none;">
            <h2>Bus Schedule</h2>
            <div id="busSchedule">
                <!-- Example Bus Schedule Content -->
                <!-- p>Route 101 - Main Street</p> -->

                <form id="routeForm">
                    <label for="route_id">Choose a route:</label>
                    <input type="text" id="route_id" placeholder="Enter route id" required>
                    <button type="find">Find Route</button>
                </form>
                <p id="error-message" style="color: red;"></p>


                <form id="directionForm">
                    <label for="headsign_select">Choose a direction:</label>
                    <select name="headsign" id="headsign_select">
                    <option value="">--Please choose an option--</option>
                        </select>
                    <button id="showSchedule" disabled>Show the schedule</button>

                </form>
                <div style="overflow-x:auto;">
                    <table border="1">
                       
                        <tbody id="schedule-body"></tbody>
                    </table>
                </div>
            </div>
            
        
            <!-- Route Information Section -->
            <div id="routeInfoSection" style="display:block;">
                <h2>Route Information</h2>
                <table id="routeInfoTable">
                    <tr>
                        <th>Route ID</th>
                        <th>Route Name</th>
                        <th>Fare</th>
                    </tr>
                    <!-- Route information rows will be added here -->
                </table>
            </div>




            <!-- Comments Section for Different Categories -->
            <div id="commentsSection" style="display:block;">
                <h2>Comments</h2>
                <div id="commentTypes">

                    <!-- Each subsection for different comment types -->
                    <div id="crowdednessComments" class="commentSubSection">
                        <h2>Crowdedness</h2>
                        <div class="commentsDisplay"></div>
                        <textarea class="commentBox" placeholder="Leave a comment on crowdedness"></textarea>
                        <button class="submitComment" data-type="crowdedness">Post Comment</button>
                    </div>
                    
                    <div id="safetyComments" class="commentSubSection">
                        <h2>safety</h2>
                        <div class="commentsDisplay"></div>
                        <textarea class="commentBox" placeholder="Leave a comment on safety"></textarea>
                        <button class="submitComment" data-type="safety">Post Comment</button>
                    </div>

                    <div id="temperatureComments" class="commentSubSection">
                        <h2>temperature</h2>
                        <div class="commentsDisplay"></div>
                        <textarea class="commentBox" placeholder="Leave a comment on temperature"></textarea>
                        <button class="submitComment" data-type="temperature">Post Comment</button>
                    </div>

                    <div id="accessibilityComments" class="commentSubSection">
                        <h2>accessibility</h2>
                        <div class="commentsDisplay"></div>
                        <textarea class="commentBox" placeholder="Leave a comment on accessibility"></textarea>
                        <button class="submitComment" data-type="accessibility">Post Comment</button>
                    </div>
                    
                </div>
            </div>

        </div>

        <!-- Manage comment for each user -->
        <div id="comment" style="display:none;">
            <h2>Your Comments</h2>
            <div id="userCommentsDisplay">
                <!-- Display comments for each category -->
                <div class="comment-section">
                    <h3>Crowdedness</h3>
                    <p id="crowdednessCommentsDisplay">Your comment about crowdedness.</p>
                </div>
                <div class="comment-section">
                    <h3>Safety</h3>
                    <p id="safetyCommentsDisplay">Your comment about safety.</p>
                </div>
                <div class="comment-section">
                    <h3>Temperature</h3>
                    <p id="temperatureCommentsDisplay">Your comment about temperature.</p>
                </div>
                <div class="comment-section">
                    <h3>Accessibility</h3>
                    <p id="accessibilityCommentsDisplay">Your comment about accessibility.</p>
                </div>
            </div>

            <!-- Update Comment Section -->
            <div id="updateComment">
                <h2>Update Comment</h2>
                <form id="updateForm">
                    Route ID: <input type="text" name="routeId" required><br>
                    Original Comment:<br>
                    <textarea name="originalComment" required></textarea><br>
                    Updated Comment:<br>
                    <textarea name="updatedComment" required></textarea><br>
                    Category:
                    <select name="category">
                        <option value="crowdedness">Crowdedness</option>
                        <option value="safety">Safety</option>
                        <option value="temperature">Temperature</option>
                        <option value="accessibility">Accessibility</option>
                    </select><br>
                    <button type="submit">Update</button>
                </form>
            </div>

            <!-- Delete Comment Section -->
            <div id="deleteComment">
                <h2>Delete Comment</h2>
                <form id="deleteForm">
                    Route ID: <input type="text" name="routeId1" required><br>
                    Category:
                    <select name="category1">
                        <option value="crowdedness1">Crowdedness</option>
                        <option value="safety1">Safety</option>
                        <option value="temperature1">Temperature</option>
                        <option value="accessibility1">Accessibility</option>
                    </select><br>
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>



        <script>
            document.getElementById("linkToSchedule").addEventListener("click", function() {
                // Redirect to the other page
                navigateTo('schedulePage');
                rID = document.getElementById("rIDSelected").textContent;
                document.getElementById("route_id").value = rID;
                document.getElementById("find").click();
            });

            // Dislay the route being selected 
            function routeSelected(r){
                document.getElementById("rIDSelected").textContent = r;
                document.getElementById("routeSelected").style.display = 'block';
            }
            // Custom map styles to hide default bus stops
            const mapStyles = [
                {
                    // featureType: "transit.station.bus",
                    // stylers: [{ visibility: "off" }]
                    featureType: "transit",
                    stylers: [{ visibility: "off" }]
                }
            ];

            let map;
            let allRoutesData = []; // Array to store all routes data
            let allBusStopsData = []; // Array to store all bus stops data
            let shapes = [];
            let closeByStops = [];
            let closeByRoutes = [];
            let isLoggedIn = false; // Flag to track login status
            let userEmail = ''; // Global variable to store the user's email
            let current_route_id = ''; // Global variable to store the current route id


            // clear the current routes and bus stops in the maps
            function clearMap() {
                // Clear all markers
                for (let marker of allBusStopsData) {
                    marker.setMap(null);
                }

                allBusStopsData = []; // Reset the array

                // Clear all shapes
                for (let shape of shapes) {
                    shape.setMap(null);
                }

                shapes = []; // Reset the shapes array
            }

            function redrawStoredData() {
                // Redraw all routes using stored data
                allRoutesData.forEach(shape => {
                    drawShapeOnMap(shape.points, shape.shape_id);
                });
            }

            document.getElementById('resetMapButton').addEventListener('click', function() {
                clearMap();
                redrawStoredData();

                // Check if there is an existing close-by route table and remove it
                const tableBody = document.getElementById('close-by-routes');

                if (tableBody.firstChild) {
                    tableBody.removeChild(tableBody.firstChild);
                }
                
                // If previously selected a route
                document.getElementById("routeSelected").style.display = "none";
            });
            
            
            // mark the bus stops in the maps
            function placeMarkers(busStops) {
                const infoWindow = new google.maps.InfoWindow();

                for (let stop of busStops) {

                    const marker = new google.maps.Marker({
                        position: { lat: parseFloat(stop.stop_lat), lng: parseFloat(stop.stop_lon) },
                        map: map,
                        title: stop.stop_name
                    });
                    allBusStopsData.push(marker);
                    
                    marker.addListener('click', function() {
                        infoWindow.setContent(`<h3>${stop.stop_name}</h3>`);
                        infoWindow.open(map, marker);
                    });
                }
                
                // Add listener to the map to close the info window when the map is clicked
                map.addListener('click', function() {
                    if (infoWindow) {
                        infoWindow.close();
                    }
                });
            }

            function fetchBusStopsForRoute(routeId) {
                updateLoadingBar(80); // Before fetching bus stops

                fetch(`/get_bus_stops_by_route?route_id=${routeId}`)
                    .then(response => response.json())
                    .then(busStops => {
                        placeMarkers(busStops);
                        updateLoadingBar(90); // Update to 90% after fetching bus stops
                    })
                    .catch(error => console.error('Error fetching bus stops:', error));
            }

            // Fetch route shapes and bus stops data for the input shape ID
            // clear the current routes and bus stops in the maps
            // then draw the new routes and bus stops fetched

            function fetchAndStoreData() {
                updateLoadingBar(30); // Indicate progress

                fetch('/get_route_shapes')
                    .then(response => response.json())
                    .then(data => {
                        allRoutesData = data;
                        updateLoadingBar(60); // Update to 60% after fetching route shapes
                        data.forEach(shape => drawShapeOnMap(shape.points, shape.shape_id));
                    })
                    .catch(error => console.error('Error:', error))
                    .finally(() => {
                        updateLoadingBar(70); // Update further after processing data
                    });
            }

            // given the shape points and shape id, draw the shape(route of a bus/trip) on the map
            function drawShapeOnMap(shapePoints, shapeId) {
                const shapeCoordinates = shapePoints.map(point => ({ lat: point.lat, lng: point.lng }));

                const shapePath = new google.maps.Polyline({
                    path: shapeCoordinates,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });

                shapes.push(shapePath); // Store the shape in the array

                // if (shapes.length < 1) {
                //     shapes.push(shapePath); // Store the shape
                // }

                shapePath.shapeId = shapeId; // Assign the shape ID

                // Add click listener to the shape
                shapePath.addListener('click', function() {
                    fetchRouteAndStops(this.shapeId);
                });

                shapePath.setMap(map);
            }

            function fetchRouteAndStops(shapeId) {
                fetch(`/get_route_and_stops?shape_id=${shapeId}`)
                    .then(response => response.json())
                    .then(data => {
                        clearMap(); // You might need to create this function to clear existing routes and stops
                        // drawShapeOnMap(data.shape, data.route_id);
                        // placeMarkers(data.stops);
                        // console.log(data.route_id);
                        drawShapeOnMap(data.shape, data.shape_id);
                        placeMarkers(data.stops);
                        console.log(data.route_id);
                        routeSelected(data.route_id)

                    })
                    .catch(error => console.error('Error:', error));
            }


            function initMap() {
                // Start with the loading bar
                updateLoadingBar(10); // Start with 10% to indicate initiation

                const saoPaulo = { lat: -23.550520, lng: -46.633308 };
                map = new google.maps.Map(document.getElementById("map"), {
                    center: saoPaulo,
                    zoom: 13,
                    styles: mapStyles
                });

                // Simulate loading data, then hide the loading bar
                fetchAndStoreData();

                onMapAndDataFullyLoaded();
            }

            function setNewCenter(newLat, newLng) {
                var newCenter = new google.maps.LatLng(newLat, newLng);
                map.setCenter(newCenter);
            }

            function onMapAndDataFullyLoaded() {
                updateLoadingBar(100); // Indicate completion
                setTimeout(() => { hideLoadingBar(); }, 500); // Hide after a short delay
            }


            // Functions to control the loading bar
            function updateLoadingBar(percentage) {
                document.getElementById('loadingBar').style.width = percentage + '%';
            }

            function hideLoadingBar() {
                document.getElementById('loadingBarContainer').style.display = 'none';
            }

            
            document.getElementById('resetMapButton').addEventListener('click', function() {
                clearMap(); // Clear the current map data
                redrawStoredData(); // Redraw using stored data
                const saoPaulo = { lat: -23.550520, lng: -46.633308 };
                map.setCenter(saoPaulo);
                map.setZoom(13);
            });


            document.getElementById('addressForm').addEventListener('submit', function(event) {
                event.preventDefault(); // to prevent the form from submitting traditionally
                const address = document.getElementById('address').value;
                let searchAddress = [];
                fetch('/geocode', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ address: address }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } 
                    else {
                        searchAddress = data;
                        console.log(searchAddress);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
                fetch('/get_bus_stops_and_routes', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ address: address }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } 
                    else {
                        // closeByStops: 'stop_name', 'stop_lat', 'stop_lon'
                        closeByStops = data[0].stopInfo;
                        console.log(closeByStops)
                        // closeByRoutes: 'id'
                        closeByRoutes = data[0].routeInfo;
                        console.log(closeByRoutes);
                        clearMap();
                        setNewCenter(searchAddress.latitude, searchAddress.longitude);
                        map.setZoom(16);
                        placeMarkers(closeByStops);
                        generateTable(closeByRoutes);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });

            // Handle Login Form Submission
            document.getElementById('loginForm').addEventListener('submit', function(event) {
                event.preventDefault();
                const username = document.getElementById('loginUsername').value;
                const password = document.getElementById('loginPassword').value;

                fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username: username, password: password })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    }
                    else {
                        isLoggedIn = true;

                        // store email of the user
                        userEmail = data.email;
                        
                        // go into the main content
                        document.getElementById('mainContent').style.display = 'block';
                        document.getElementById('loginPage').style.display = 'none';

                        // empty out the login form
                        document.getElementById('loginUsername').value = '';
                        document.getElementById('loginPassword').value = '';

                        // change the content of the logout button to logout
                        const navLogin = document.getElementById('navLogin');
                        navLogin.textContent = 'Logout';

                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred");
                });
            });




            // Function to handle navigation
            function navigateTo(page) {

                // if the user is not logged in, do not allow them to navigate to other pages
                if (page !== 'loginPage' && !isLoggedIn) {
                    alert("Please log in first");
                    return;
                }

                

                // if the user is logged in and clicks on the login link, log them out
                if (isLoggedIn && page === 'loginPage') {
                    isLoggedIn = false;
                    userEmail = '';

                    // show the login and registration forms

                    const loginPage = document.getElementById('loginPage');
                    const schedulePage = document.getElementById('schedulePage');
                    const mainContent = document.getElementById('mainContent');
                    const commentPage = document.getElementById('comment'); 

                    loginPage.style.display = 'block';
                    schedulePage.style.display = 'none';
                    mainContent.style.display = 'none';
                    commentPage.style.display = 'none';

                    // change the content of the logout button to login
                    const navLogin = document.getElementById('navLogin');
                    navLogin.textContent = 'Login';

                    return;
                }
                
                const loginPage = document.getElementById('loginPage');
                const schedulePage = document.getElementById('schedulePage');
                const mainContent = document.getElementById('mainContent');
                const commentPage = document.getElementById('comment');

                if (loginPage) loginPage.style.display = (page === 'loginPage') ? 'block' : 'none';
                if (schedulePage) schedulePage.style.display = (page === 'schedulePage') ? 'block' : 'none';
                if (mainContent) mainContent.style.display = (page === 'mainContent') ? 'block' : 'none';
                if (commentPage) commentPage.style.display = (page === 'comment') ? 'block' : 'none';

                // Check if we're navigating to the comments page and the user is logged in
                if (page === 'comment' && isLoggedIn) {
                    fetchUserComments(userEmail); // Fetch comments for the logged-in user
                }
            }

            // Event listeners for navigation links
            document.getElementById('navLogin').addEventListener("click", function () {
                resetSchedulePage();
                navigateTo('loginPage');
                clearMap();
                redrawStoredData();

                // Check if there is an existing close-by route table and remove it
                const tableBody = document.getElementById('close-by-routes');

                if (tableBody.firstChild) {
                    tableBody.removeChild(tableBody.firstChild);
                }
                
                // If previously selected a route
                document.getElementById("routeSelected").style.display = "none";
            });
            document.getElementById('navSchedule').addEventListener('click', () => navigateTo('schedulePage'));
            document.getElementById('navMainContent').addEventListener("click", function () {
                resetSchedulePage();
                navigateTo('mainContent');
            });
            document.getElementById('navComment').addEventListener("click", function () {
                resetSchedulePage();
                navigateTo('comment');
            });

            // Reset the scedule page 
            function resetSchedulePage() {
                // Reset forms
                document.getElementById("routeForm").reset();
                document.getElementById("directionForm").reset();
                document.getElementById('schedule-body').style.display = 'none';
                const table = document.getElementById('routeInfoTable');
                // Clear existing data
                table.innerHTML = `
                    <tr>
                        <th>Route ID</th>
                        <th>Route Name</th>
                        <th>Fare</th>
                    </tr>`;
            }
            
            // Handle Registration Form Submission
            document.getElementById('registrationForm').addEventListener('submit', function(event) {
                event.preventDefault();
                const username = document.getElementById('registerUsername').value;
                const email = document.getElementById('registerEmail').value;
                const password = document.getElementById('registerPassword').value;

                fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username: username, email: email, password: password })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        alert("Registration successful");
                        

                        // empty out the registration form
                        document.getElementById('registerUsername').value = '';
                        document.getElementById('registerEmail').value = '';
                        document.getElementById('registerPassword').value = '';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred");
                });
            });

            
            function fetchRouteInfo(routeId) {
            console.log(routeId);
            fetch(`/get_route_info?route_id=${routeId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        console.error('Error fetching route info:', data.error);
                    } else {
                        displayRouteInfo(data);
                    }
                })
                .catch(error => console.error('Error:', error));
            }

            function displayRouteInfo(data) {
                const table = document.getElementById('routeInfoTable');
                // Clear existing data
                table.innerHTML = `
                    <tr>
                        <th>Route ID</th>
                        <th>Route Name</th>
                        <th>Fare</th>
                    </tr>`;

                // Add new data
                table.innerHTML += `
                    <tr>
                        <td>${data.route_id}</td>
                        <td>${data.route_long_name}</td>
                        <td>${data.price}</td>
                    </tr>`;
            }

            function clearComments() {
                document.querySelectorAll('.commentsDisplay').forEach(div => {
                    div.innerHTML = ''; // Clear existing comments
                });
                // clear each sub div

                // const commentsDisplay1 = document.querySelector(`crowdednessCommentsDisplay`);
                // const commentsDisplay2 = document.querySelector(`safetyCommentsDisplay`);
                // const commentsDisplay3 = document.querySelector(`temperatureCommentsDisplay`);
                // const commentsDisplay4 = document.querySelector(`accessibilityCommentsDisplay`);


            }

            function fetchComments(routeId) {
                clearComments(); // Clear comments before fetching new ones

                fetch(`/get_comments?route_id=${routeId}`)
                    .then(response => response.json())
                    .then(comments => {
                        comments.forEach(comment => {
                            displayComment(comment);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }

            function displayComment(comment) {
                Object.keys(comment).forEach(key => {
                    if (key !== 'email' && comment[key]) {
                        const commentData = JSON.parse(comment[key]);
                        const commentsDisplay = document.querySelector(`#${key}Comments .commentsDisplay`);

                        if (commentsDisplay) {
                            commentData.forEach(singleComment => {
                                if (singleComment.trim() !== "") { // Check if the comment is not just an empty string
                                    commentsDisplay.innerHTML += `<p><strong>${comment.email}</strong>: ${singleComment}</p>`;
                                }
                            });
                        } else {
                            console.error(`${key}Comments element not found`);
                        }
                    }
                });
            }

            function postComment(routeId, commentType, commentText, commentEmail) {
                let commentData = { route_id: routeId, email: commentEmail };
                commentData[commentType] = commentText;

                fetch('/post_comment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(commentData)
                })
                .then(response => {
                    if (!response.ok) {
                        if (response.status === 409) {
                            // Handle duplicate comment case
                            alert("Duplicate comment detected. Comment not added.");
                        } else {
                            // Handle other errors
                            alert("Error posting comment.");
                        }
                        return Promise.reject(response);
                    }
                    return response.json();
                })
                .then(data => {
                    alert('Comment posted successfully');
                    console.log(routeId);
                    console.log(data);
                    fetchComments(routeId); // Refresh comments
                    fetchRouteInfo(routeId); // Refresh route info
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }


            // Attach event listeners to comment submission buttons
            document.querySelectorAll('.submitComment').forEach(button => {
                button.addEventListener('click', function() {
                    const commentBox = this.previousElementSibling;
                    const commentText = commentBox.value;
                    const commentType = this.getAttribute('data-type');
                    const routeId = current_route_id;

                    console.log(`Submitting comment: ${commentText} for route ${routeId}`);
                    console.log(routeId);
                    
                    if (commentText.trim()) {
                        postComment(routeId, commentType, commentText, userEmail);
                        commentBox.value = ''; // Clear the comment box after posting
                    } else {
                        alert('Please enter a comment.');
                    }
                });
            });

            // Display comment of routes for each user
            function fetchUserComments(email) {
                console.log('Fetching comments for user:', email);
                clearComments(); // Clear comments before fetching new ones

                fetch(`/get_user_comments?email=${userEmail}`)
                    .then(response => response.json())
                    .then(commentsByRoute => {
                        console.log("commentsByRoute");
                        console.log(commentsByRoute);
                        Object.keys(commentsByRoute).forEach(route => {
                            displayCommentsForRoute(route, commentsByRoute[route]);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }

            function displayCommentsForRoute(route, comments) {
                Object.keys(comments).forEach(commentType => {
                    const commentsDisplay = document.querySelector(`#${commentType}CommentsDisplay`);
                    // commentsDisplay.innerHTML = '';
                    if (commentsDisplay) {
                        // commentsDisplay.innerHTML = ''; // Clear previous comments

                        // The received array has a single stringified array element.
                        let commentArray = comments[commentType];

                        // Check if the first element is a string and try to parse it.
                        if (commentArray.length === 1 && typeof commentArray[0] === 'string') {
                            try {
                                commentArray = JSON.parse(commentArray[0]);
                            } catch (e) {
                                console.error('Parsing error:', e);
                                commentArray = []; // Fallback to an empty array in case of an error
                            }
                        }

                        // console.log(commentArray);

                        // console.log(commentArray);

                        // Now that we have ensured commentArray is an array, iterate over it
                        commentArray.forEach(singleComment => {
                            console.log(singleComment);
                            // Check if the comment is not just an empty string
                            if (typeof singleComment === 'string' && singleComment.trim() !== "") {
                                let p = document.createElement('p');
                                p.textContent = `Route ${route.replace('Route ', '')}: ${singleComment}`;
                                commentsDisplay.appendChild(p);
                            }
                        });
                    } else {
                        console.error(`${commentType}CommentsDisplay element not found`);
                    }
                });
            }
            
            let currentUserEmail = ''; // Global variable to store the user's email

            function fetchUserComments(email) {
                console.log('Fetching comments for user:', email);

                // email is already stored in the global variable userEmail
                currentUserEmail = userEmail; // Store the user's email
                clearComments(); // Your existing code...
                fetch(`/get_user_comments?email=${userEmail}`)
                    .then(response => response.json())
                    .then(commentsByRoute => {
                        console.log("commentsByRoute2");
                        console.log(commentsByRoute);
                        Object.keys(commentsByRoute).forEach(route => {
                            displayCommentsForRoute(route, commentsByRoute[route]);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }

            document.getElementById('updateForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission

                // Retrieve values from the form
                const routeId = document.querySelector('[name="routeId"]').value;
                const category = document.querySelector('[name="category"]').value;
                const originalComment = document.querySelector('[name="originalComment"]').value;
                const updatedComment = document.querySelector('[name="updatedComment"]').value;
                
                console.log(userEmail);
                updateComment(routeId, category, originalComment, updatedComment);
            });

            function updateComment(routeId, category, originalComment, updatedComment) {
                const data = {
                    email: userEmail,
                    route_id: routeId,
                    category: category,
                    originalComment: originalComment,
                    comment: updatedComment
                };

                console.log(data);

                fetch(`/update_comment`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    // pop up msg for success
                    alert("Comment updated successfully");

                    // // empty out the update form
                    // document.querySelector('[name="routeId"]').value = '';
                    // document.querySelector('[name="category"]').value = '';
                    document.querySelector('[name="originalComment"]').value = '';
                    document.querySelector('[name="updatedComment"]').value = '';

                    // Handle success
                    // upon sucess, reload the whole data
                    fetchUserComments(userEmail);

                })
                .catch((error) => {
                    console.error('Error:', error);
                    // Handle error

                    // pop up msg for error
                    alert("Error updating comment");

                });
            }
            
            let currentUserEmail1 = ''; // Global variable to store the user's email

            function fetchUserComments(email) {
                console.log('Fetching comments for user:', email);

                currentUserEmail1 = userEmail; // Store the user's email
                clearComments(); // Your existing code...
                fetch(`/get_user_comments?email=${userEmail}`)
                    .then(response => response.json())
                    .then(commentsByRoute => {
                        console.log("commentsByRoute3");
                        // this is the one that is triggred upon clicking the comment button on nav bar
                        console.log(commentsByRoute);

                        
                        const commentsDisplay1 = document.querySelector(`#crowdednessCommentsDisplay`);
                        const commentsDisplay2 = document.querySelector(`#safetyCommentsDisplay`);
                        const commentsDisplay3 = document.querySelector(`#temperatureCommentsDisplay`);
                        const commentsDisplay4 = document.querySelector(`#accessibilityCommentsDisplay`);

                        commentsDisplay1.innerHTML = '';
                        commentsDisplay2.innerHTML = '';
                        commentsDisplay3.innerHTML = '';
                        commentsDisplay4.innerHTML = '';


                        Object.keys(commentsByRoute).forEach(route => {
                            console.log("check");
                            console.log(route);
                            displayCommentsForRoute(route, commentsByRoute[route]);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }

            document.getElementById('deleteForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission

                const routeId1 = document.querySelector('[name="routeId1"]').value;
                const category1 = document.querySelector('[name="category1"]').value;
                console.log(`Form submission with routeId: ${routeId1}, category: ${category1}`);
                deleteComment(currentUserEmail1, routeId1, category1);

                // load the comments again
                fetchUserComments(userEmail);
                
            });

            function deleteComment(email, routeId, category) {
                const data = {
                    email: email,
                    route_id: routeId,
                    category: category
                };

                fetch('/delete_comment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    // Handle success

                    // pop up msg for success
                    alert("Comment deleted successfully");

                    // // empty out the delete form
                    document.querySelector('[name="routeId1"]').value = '';
                    document.querySelector('[name="category1"]').value = '';

                })
                .catch((error) => {
                    console.error('Error:', error);
                    // Handle error

                    // pop up msg for error
                    alert("Error deleting comment");
                });
            }




            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("routeForm").addEventListener("submit", function (e) {
                    e.preventDefault(); // Prevents form submission
                    const routeId = document.getElementById("route_id").value;
                    fetchRouteTripInfo(routeId);
                    route_id = routeId;
                });

                document.getElementById("directionForm").addEventListener("submit", function (e) {
                    e.preventDefault(); // Prevents form submission
                    // generateSchedule();
                });
            });

            function fetchRouteTripInfo(routeId) {
                document.getElementById("showSchedule").disabled = true;
                const errorMessageElement = document.getElementById('error-message');
                const headsignSelect = document.getElementById("headsign_select");
                const route = document.getElementById("route_id").value;

                fetch(`/get_route_and_trip_info?route_id=${routeId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            console.error('Error fetching route info:', data.error);
                            errorMessageElement.textContent = 'Error: ' + data.error;
                            // Reset the "Choose direction" selection field
                            headsignSelect.innerHTML = '<option value="">--Please choose an option--</option>';
                            // get route comment
                            
                            
                            fetchRouteInfo(current_route_id);
                        } else {
                            errorMessageElement.textContent = ''; // Clear any existing error message
                            populateHeadsignOption(data);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        errorMessageElement.textContent = 'An error occurred while fetching data.';
                        // Reset the "Choose direction" selection field
                        headsignSelect.innerHTML = '<option value="">--Please choose an option--</option>';
                    });
            }
            

            function populateHeadsignOption(data) {
                const headsignSelect = document.getElementById("headsign_select");
                const showScheduleButton = document.getElementById("showSchedule");

                headsignSelect.innerHTML = '<option value="">--Please choose an option--</option>'; // Reset the select menu

                data.trips_data.forEach(function (trip) {
                    const option = document.createElement("option");
                    option.value = trip.trip_id; // or trip.trip_headsign, depending on what you want to use as a value
                    option.text = trip.trip_headsign;
                    headsignSelect.appendChild(option);
                });

                // Enable the "Show the Schedule" button
                showScheduleButton.disabled = false;
            }


            //Create a the schedule table with given data
            function generateSchedule(schedule){
                // Check if there is an existing table and remove it
                const tableBody = document.getElementById('schedule-body');

                while (tableBody.firstChild) {
                tableBody.removeChild(tableBody.firstChild);
                }

                // Get the header row with all the stops
                const headerRow = document.createElement('tr');
                Object.keys(schedule[0]).forEach(stop => {
                    const th = document.createElement('th');
                    th.textContent = stop;
                    headerRow.appendChild(th);
                });
                tableBody.appendChild(headerRow);

                // Loop through the JSON data and create table rows
                schedule.forEach(item => {
                    const row = document.createElement('tr');

                    // Create table cells for each property
                    Object.keys(item).forEach(key => {
                        const cell = document.createElement('td');
                        cell.textContent = item[key];
                        row.appendChild(cell);
                    });
                    tableBody.appendChild(row);
                });

                document.getElementById('schedule-body').style.display = 'block';
            }


            // test data
            let data = [
                {
                    stop1: "8:00",
                    stop2: "8:15",
                    stop3: "8:30",
                    stop4: "8:45",
                    stop5: "9:00"
                },
                {
                    stop1: "9:00",
                    stop2: "9:15",
                    stop3: "9:30",
                    stop4: "9:45",
                    stop5: "10:00"
                }
            ]

            // just to test if schedule works -) later put into the fetch
            document.getElementById('showSchedule').addEventListener('click', function() {
                let selectedDirection = document.getElementById("headsign_select").value;
                console.log(selectedDirection);
                let schedule = [];
                let route_id = document.getElementById("route_id").value;
                current_route_id = route_id;

                fetch('/post_schedule', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ trip_id: selectedDirection})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } 
                    else{
                        console.log(data) // BUT here it is sorted??????
                        console.log(Object.keys(data[0])[0]);
                        generateSchedule(data);

                        // also populate the route info as well as the comments

                        fetchRouteInfo(route_id);
                        fetchComments(route_id);
                        
                    }
                })
                .catch(error => console.error('Error:', error));
            });
           // Generate the table of close-by routes
            function generateTable(dataList) {
                // Check if there is an existing table and remove it
                const tableBody = document.getElementById('close-by-routes');
                if (tableBody.firstChild) {
                    tableBody.removeChild(tableBody.firstChild);
                }
                const row = document.createElement('tr');

                // Create a text node for the label
                const labelTextNode = document.createTextNode("Close-by Routes:");
                const title = document.createElement('td');
                title.textContent = labelTextNode;
                row.appendChild(labelTextNode);

                // Loop through the list of routes and create table cells for each one
                dataList.forEach(item => {
                    // Create table cells for each property
                    Object.keys(item).forEach(key => {
                        const cell = document.createElement('td');
                        cell.textContent = item[key];
                        row.appendChild(cell);
                    });
                });
                tableBody.appendChild(row);
            }


        </script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS-S37L58YssF52HQocELjBEI4s1-NSiM&callback=initMap"></script>

        <!-- <script src="{{ url_for('static', filename='js/data.js') }}" type="module"></script>
        <script src="{{ url_for('static', filename='js/map.js') }}" type="module"></script>
        <script src="{{ url_for('static', filename='js/ui.js') }}" type="module"></script> -->

    </body>
</html>